@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    
    font-family: "Azeret Mono", monospace;
    color: #0D1321;

}

/* nav starts */

.navigation{
    display: flex;
    justify-content: space-between;
    margin: 40px 70px 22px 70px;

}
.nav-button{
    margin-top: -9px;

    background-color: white;
}
.ayesha{
    padding-top: 3px;
}
/* nav end */

/* External cs */
.p{
    color: #565A64;
}
.gap{
    padding-top: 50px;
}
.gap-margin{
    margin-top: 30px;
    background-color: white;
}

button{
    padding: 12px 18px;
    border-radius: 6px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: 600;
}
.Download-resume{
    text-decoration: none;
    color: #0D1321;
}
/* External css end */


/* header content start */
.header-content{

    
    background-image: url("../images/Hero-bg.png");
    height: 652px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}
h1{
    font-size: 48px;
    font-weight: 800;
}
img{
    margin: 70px auto 15px auto;
}
h1, p{
    padding-top: 30px;
}
.header-content p{
    font-size: 15px;
    font-weight: 300;
}

.Contact-with-me{
    background-color: #0D1321;

    margin-top: 30px;
}
.Contact-with-me>a{
    text-decoration: none;
    color: white;
}
/* header content end */

/* why web development start */
.web-development{
    background-color: #f8f8f8e5;
    /* background-color: blueviolet; */
    width: 1140px;
    margin: auto;
}

.why-web, .why-webp{
    text-align: center;
    

}
.why-web{
    margin-top: 70px;
    font-size: 32px;
    font-weight: 800;
}
.why-webp{
    color: #565A64;
    
}



/* why web development end */

/* 3boxes start */
.Dev-boxes{
    /* border: 1px solid green; */
   
}
.box1{
    width: 946px;
    height: 320;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 6px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    color: #565A64;
    
}
.box1_1, .box1_2{
    margin-left: 30px;
    color: #565A64;
}
.box1_1>button{
    border-radius: 0px;
    font-weight: 550;
    color: #565A64;
}
/* box2 */
.box2{
    width: 946px;
    height: 320;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 6px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    color: #565A64;
    
}

.only-gap{
    height: 50px;
    width: 946px;
    background-color: #FAFAFB;
}

.learn-mor-a{
    text-decoration: none;
    color: #0D1321;
}

/* 3boxes end */

/* my inspiration section */
.ifram {
    display: block;
    width: 900px;
    height: 550px;
    border: 24px solid rgb(255, 255, 255);
    box-shadow: 0 5px 25px #0000004f;
    margin: auto;
    margin-top: 40px;
    border-radius: 12px;
}

/* current target */
.current-target-box{
    width: 1000px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
}
.box{
    width: 364px;
    height: 299px;
    background-color: #565A64;
    padding-left: 20px;
    

}
.box>img{
    margin-top: 28px;
}
.t-b1{
    background-color: #ff4b1e11;
    margin-right: 15px;
    border-radius: 12px;
}
.t-b2{
    background-color: #004de811;
    margin-right: 15px;
    border-radius: 12px;
}
.t-b3{
    background-color: #ffdd0013;
    margin-right: 15px;
    border-radius: 12px;
}
.hyper-p{
    margin-bottom: 30px;
}
.target-a{
    
    color: #0D1321;
    font-weight: 600;

}




/* current target end*/

/* my next target section start here */
.next-target{
    margin-top: 80px;
}

.box-next{
    width: 1140px;
    height: 170px;
    display: flex;
    /* background-color: aqua; */
    
    border-radius: 10px;
    /* border: 1px solid black; */
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px #0000004f;
    color: #0D1321;

}
.box-next-img>img{
    margin: auto;
    margin-top: 50px;
    margin-left: 30px;
    width: 70px;
}
.box-next-content{

    margin-top: 25px;
}
.box-next-content>p{

    font-size: 14px;
}
.box-next-content-text{
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 11px;
    color: #161b25;
    margin-top: -6px;
    
}
.box-next-content-textp{
    color: #0D1321;
    font-weight: 600;
    margin: -10px 43px;
}

/* my next target section end here */

/* I need support */
.i-need{
    background-image: url("../images/handshake.jpg");
    background-color: rgba(0, 0, 0, 0.253);
    background-blend-mode: overlay;
    width: 1140px;
    height: 314px;
    background-size: 1140px 314px;
    margin: auto;
    margin-top: 80px;
    border-radius: 10px;



}
.i-need>h2{
    padding-top: 50px;
}
.i-need-text{
    
    color: white;
}
.form-{
    display: block;
    margin: auto;
    margin-left: 286px;
    margin-top: 30px;
}
.input-text{
    padding: 12px 80px 12px 10px;
    padding-top: 16px;
    text-align: left;
    border-radius: 8px;
    border: 1px solid white;
}

footer{
    display: flex;
    margin: auto;
 
    margin-top: 50px;
    height: 500px;
    background-color:#f8f8f8e5 ;

}
.footer-box{
    display: flex;
    justify-content: space-around;
    width: 85%;
    height: 400px;
    margin: auto;

    
}
.footer-box1{
    /* background-color: aqua; */
    width:26%;

}
.footer-box2{
    /* background-color: aqua; */
    width: 30%;

}
.footer-box3{
    /* background-color: aqua; */
    width: 26%;

}
.footer-box1-img{
    width: 200px;
    margin: 20px 10px;


    
}
.footer-box1-text{
    width: 200px;
    padding-left: 50px;
    margin: -20px 10px;
}
.footer-box1-textp{
    font-size: 14px;
    font-weight: 200;
    padding-left: 55px;
    padding-top: 15px;
}
.fa-solid{
    font-size: 20px;
    color: #0D1321;
    text-align: left;
    padding-right: 5px;
}
.fa-location-dot{
    padding-right: 13px;

}


.footer-box2-text{
    margin: 90px 50px 20px 50px;
}

.footer-box3>a>img{
    width: 30px;
    margin: 25px 0 0 10px;
}
.ff{
    margin-left: 45px;
}